@use "sass:math";
@import "../../variables.scss";

.upload-full-overlay img {
  z-index: 16;
  cursor: pointer;
}

.upload-full-overlay {
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes close-img-highlight-hover {
  from {
    filter: none;
  }
  to {
    filter: $upload-full-overlay-img-close-filter;
  }
}
@keyframes close-img-highlight-unhover {
  from {
    filter: $upload-full-overlay-img-close-filter;
  }
  to {
    filter: none;
  }
}

.upload-full-overlay img {
  z-index: 16;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: auto;
  width: $upload-full-overlay-img-width;
  height: auto;
  animation: close-img-highlight-unhover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.close-image-hover-animation {
  animation: close-img-highlight-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.upload-full-overlay > .upload-data-display {
  z-index: 10;
  width: auto;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  font-size: 2rem;
  padding-right: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.upload-full-overlay > .upload-data-display > .upload-data-text {
  margin: 6px;
}
