@use "sass:math";

$upload-full-overlay-img-close-filter: invert(23%) sepia(86%)
  saturate(7476%) hue-rotate(359deg) brightness(107%) contrast(124%) opacity(30%);
$upload-full-overlay-img-width: 80vw;

.upload-full-overlay {
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes close-img-highlight-hover {
  from {
    filter: none;
  }
  to {
    filter: $upload-full-overlay-img-close-filter;
  }
}
@keyframes close-img-highlight-unhover {
  from {
    filter: $upload-full-overlay-img-close-filter;
  }
  to {
    filter: none;
  }
}

.upload-full-overlay img {
  z-index: 16;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: auto;
  width: $upload-full-overlay-img-width;
  height: auto;
  animation: close-img-highlight-unhover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.close-image-hover-animation {
  animation: close-img-highlight-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
