@import "../../variables.scss";

.slick-slider {
  margin-top: $carousel-margin-top;
  border: $carousel-border;
  border-radius: $carousel-border-radius;
  background-color: $carousel-background-color;
  padding: 10px;
  box-shadow: 0px 0px 4px black;
}

.slick-dots {
  position: relative;
  padding: 12px;
  top: 0;
  left: 0;
  background-color: $slick-dots-background-color;
  border-radius: $slick-dots-border-radius;
  box-shadow: 0px 1px 6px rgb(0 0 0);
}

.slick-dots li button:before {
  font-size: 10px;
}

.slick-active > button:before {
  color: $carousel-button-active-color !important;
  opacity: 1 !important;
}

.slide {
  cursor: pointer;
  position: relative;
  background-color: black;
  border: $carousel-slide-border;
  border-radius: $slick-slide-border-radius;
  height: 70vh;
}

.slide > img {
  display: block;
  margin: auto;
  height: 100%;
  transition: 0.3s;
}

.slide > .upload-data-display {
  z-index: 10;
  width: auto;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  font-size: 2rem;
  padding-right: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.slide > .upload-data-display > .upload-data-text {
  margin: 6px;
}

.bidi-arrow {
  all: unset;
}
